div.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  flex: 0 0 100%;
  display: block;
}
div.container a {
  margin: 2em 0;
  flex: 0 0 100%;
}
table tr:hover {
  background-color: blue;
}
