.generic{
    display: flex;
    flex-direction: column;
    color: black;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
.generic-text
{
    color: white;
    font-size: 150%; 
}
.generic-every-header {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 5%;
}
  