.list-buttons {
  text-align: right;
  padding-right: 10px;
}

.generic {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
}

.progress-circle {
  text-align: center;
  padding-top: 20px;
}

.informative-message {
  text-align: center;
  margin: 1em 0 !important;
}

.pending-requests {
  background-color: #f7f7f7;
}

.generic-container-color {
  background-color: #007bff !important;
}
.generic-button {
  margin: 3px !important;
  width: 100px;
}
.generic-table {
  width: 100%;
  text-align: center;
}
.request-card-container {
  width: 300px;
  box-shadow: 2px 1px 2px 1px #212529, 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-top: 10px;
}

.no-requests-div {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.next-button {
  margin-right: 20px!important;
}

.passengers-list {
  padding-left: 5%;
}

.dialog-title {
  padding-bottom: 0!important;
}

td {
  background-color: aliceblue;
  padding: 0.5rem;
  border: 1 px solid white;
  text-align: center;
}

th {
  background-color: #007bff;
  color: aliceblue;
  border: 1 px solid white;
  font-size: 16px;
  margin: 3px;
}

.winner-container {
  margin-top: 20px !important;
}
.point-container {
  width: 25% !important;
}
.name-container {
  width: 50% !important;
}
.winner-mapping {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.generic-card {
  margin-top: 10px;

    box-shadow: 1px 1px 1px 1px #463876, 1px 1px 1px 1px rgba(0, 0, 0, 0.14), 1px 2px 1px 2px rgba(0, 0, 0, 0.12);
}

.generic-color{
  color:#007BFF !important;
}

.read-more{
  font-weight: bold;
  cursor: pointer;
}