.app {
  color: solid black;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logout-button {
  flex: 1 100%;
  border: 1px solid black;
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px 5px;
}