.login-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}
.login-image {
    align-self:center;
    justify-content: center;
    align-items: center;
    display: block;
    height: 80%;
    width: 80%;
    margin-top: 20%;
}