.login-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.login-image {
    align-self:center;
    justify-content: center;
    align-items: center;
    display: block;
    height: 50%;
    width: 50%;
}