.ride-requests {
    color: black;
    margin: 10px;
    align-items: flex-end;
    text-align: right;
    border-radius: 5px;
}
.ride-requests-text {
    margin: 10px;
    align-items: flex-end;
    border-radius: 5px;
}
.ride-requests-button {
    margin: 5px;
    align-items: flex-end;
    border-radius: 5px;
}
