.role-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
.role-image {
    display: block;
    align-self:center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: none;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: none;
    margin-bottom: none;

}
.role-image:hover {
    background-color: rgb(118, 194, 238);
}
.role-text{
    margin-top: 5%;
    text-align: center;
}