.role-container {
    display: flex;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.role-image {
    display: block;
    align-self:center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1%;

}
.role-image:hover {
    background-color:rgb(0, 68, 255);
}