
.container {

  margin-top: none;
  
}
.container.profile-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13%;
  margin-top: none;
  
}
.role-header {
  margin-top: 10%;
  text-align: space-between;
  margin-bottom: none;
  font-size: 350%;
}

input.edit-input {
  background-color: rgba(0, 255, 179, 0.89);
}
form.profile-form {
  margin: 1em;
  margin-bottom: 15%;
}
div.form-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}
.profile-form button {
  width: 100%;
}

img.thumbnail {
  height: 10%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
