.container {
  margin-top: none;
}
.container.profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
.role-header {
  margin-top: 10%;
  text-align: space-between;
  margin-bottom: none;
  font-size: 350%;
}

input.edit-input {
  background-color: rgba(0, 255, 179, 0.89);
}
s div.form-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
div.form-group label {
  font-weight: bold;
}
div.form-group input {
  font-style: italic;
}
.profile-form button {
  width: 100%;
}

img.thumbnail {
  height: 10%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
